[Unit]
Description=Automatic system updater using yay

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=auto-update.service
Persistent=true

[Install]
WantedBy=timers.target
